body{
    margin: 0px;
    font-family: Arial;
}

header{
    margin: 0%;
    background-color: brown;
    height: 80px;
    text-align: center;
}

nav{
    margin: 0%;
    background-color: rgb(209, 104, 104);
    width: 25%;
}
section{
    background-color: rgb(233, 190, 190);
    width: 75%;
}