/* .grid{
    display: grid;
    grid-template-columns: 50px 300px;
    grid-template-rows: 200px 75px;
} */

/* .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
} */

.grid{
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 50px 1fr 30px;
    grid-template-areas: "head head" "menu contenido" "foot foot";
    grid-template-rows: 2fr 1fr;
}


.a{
    background-color: blue;
    grid-area: head;
}

.b{
    background-color: red;
    grid-area: menu;
}

.c{
    background-color: green;
    grid-area: contenido;
}

.d{
    background-color: orange;
    grid-area: foot;
}